<style>
    .disableA {
        pointer-events: none;
        color: #9da6ab;
    }
</style>
<div class="row">
    <div class="col-12">
        <!--- start -->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline-info boxShadow-ta">
                    <div class="card-header">
                        <h3 class="m-b-0 text-white">เมนูโปรแกรม</h3>
                    </div>
                    <div class="card-body">
                        <div class="list-group"> 
                                <a asp-controller="Workingtime" asp-action="Index" class="list-group-item  " asp-route-statusPage="P06">
                                  บันทึกเวลาการผลิต
                                </a> 
                                 <a asp-controller="Bom" asp-action="Index" class="list-group-item  " asp-route-statusPage="P06">
                                 RM/Loss
                                </a> 
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <!--- End -->
    </div>

</div>