<div class="card-body">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">
                        บันทึกเวลาการผลิต
                    </h4>
                </div>

                <form method="get" id="frmSearch" action="/Workingtime/Index">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-1 text-right">
                                ShopOrder
                            </div>
                            <div class="col-5">
                                <select id="expiredStatus" name="expiredStatus" class="form-control"
                                    data-style="form-control btn-secondary">
                                    <option value="">2701221025</option>
                                </select>
                            </div>
                            <div class="col-1 text-right">
                                สินค้า
                            </div>
                            <div class="col-5">
                                <select id="expiredStatus" name="expiredStatus" class="form-control"
                                    data-style="form-control btn-secondary">
                                    <option value="">CHICKEN BONELESS THIGH FROZEN</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 text-right">
                                หน่วย
                            </div>

                            <div class="col-5">
                                <select id="documentTypeID" name="documentTypeID" class="form-control"
                                    data-style="form-control btn-secondary">
                                    <option value="">5330 : คิริมิ</option>
                                </select>
                            </div>

                            <div class="col-1 text-right">
                                สายพาน
                            </div>

                            <div class="col-5">
                                <select id="departmentID" name="departmentID" class="form-control"
                                    data-style="form-control btn-secondary">
                                    <option value="R1">R1</option>
                                    <option value="R2">R2</option>
                                    <option value="R3">R3</option>
                                    <option value="S1">S1</option>
                                    <option value="S2">S2</option>
                                    <option value="S2">S3</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <center>
                            <div class="col-2">
                                <button type="submit" id="btnSearch" name="btnSearch" class="btn btn-info"
                                    value="search"><i class="fa fa-search"></i>ค้นหา</button>
                                <button class="btn btn-danger" type="button" data-toggle="modal"
                                    data-target="#btnAddtime">เพิ่มเวลา</button>
                            </div>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card-body pt-1">
    <div class="table-responsive">
        <table class="table color-bordered-table info-bordered-table">
            <thead style="text-align: center;">
                <tr>
                    <th>#</th>
                    <th>ShopOrder</th>
                    <th>สินค้า</th>
                    <th>หน่วยงาน</th>
                    <th>สายพาน</th>
                    <th>เวลาเริ่มต้น</th>
                    <th>เวลาสิ้นสุด</th>
                    <th>แก้ไข</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr>
                    <td></td>
                    <td>2701221025</td>
                    <td>CHICKEN BONELESS THIGH FROZEN</td>
                    <td>5330 : คิริมิ</td>
                    <td>R1</td>
                    <td>10:06</td>
                    <td>12:06</td>
                    <td>
                        <button class="btn btn-danger" onclick="Edit2()" type="button"
                            data-toggle="modal">แก้ไข</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div id="btnAddtime" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white">เพิ่มเวลา</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <form method="get" id="frmSearch" action="/Workingtime/Index">
                                <div class="card-body">
                                    <div class="row form-group">
                                        <div class="col-1 text-right">
                                            ShopOrder
                                        </div>
                                        <div class="col-5">
                                            <select id="ShopOrder" name="expiredStatus" class="form-control"
                                                data-style="form-control btn-secondary">
                                                <option value="">2701221025</option>
                                            </select>
                                        </div>
                                        <div class="col-1 text-right">
                                            สินค้า
                                        </div>
                                        <div class="col-5">
                                            <select id="Product" name="expiredStatus" class="form-control"
                                                data-style="form-control btn-secondary">
                                                <option value="">CHICKEN BONELESS THIGH FROZEN</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-1 text-right">
                                            หน่วย
                                        </div>

                                        <div class="col-5">
                                            <select id="Unit" name="documentTypeID" class="form-control"
                                                data-style="form-control btn-secondary">
                                                <option value="">5330 : คิริมิ</option>
                                            </select>
                                        </div>

                                        <div class="col-1 text-right">
                                            สายพาน
                                        </div>

                                        <div class="col-5">
                                            <select id="Belt" name="departmentID" class="form-control"
                                                data-style="form-control btn-secondary">
                                                <option value="R1">R1</option>
                                                <option value="R2">R2</option>
                                                <option value="R3">R3</option>
                                                <option value="S1">S1</option>
                                                <option value="S2">S2</option>
                                                <option value="S2">S3</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-1 text-right">
                                            เวลาเริ่มต้น
                                        </div>

                                        <div class="col-5">
                                            <div class="input-group clockpicker">
                                                <input type="text" class="form-control" id="Stimes" value="09.30">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1 text-right">
                                            เวลาสิ้นสุด
                                        </div>

                                        <div class="col-5">
                                            <div class="input-group clockpicker " data-placement="bottom"
                                                data-align="top" data-autoclose="true">
                                                <input type="text" class="form-control" id="Etimes" value="15.00">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <center>
                                        <div class="col-2">
                                            <button type="button" onclick="Save()" class="btn btn-info">บันทึก</button>
                                            <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">ปิด</button>
                                        </div>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="edit" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="display: none;" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white">แก้ไข</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-1 text-right">
                                        ShopOrder:
                                    </div>
                                    <div class="col-5 text-left">
                                        2701221025
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-1 text-right">
                                        หน่วยงาน:
                                    </div>
                                    <div class="col-5 text-left">
                                        5330 : คิริมิ
                                    </div>
                                    <div class="col-1 text-right">
                                        สายพาน:
                                    </div>
                                    <div class="col-5 text-left">
                                        R1
                                    </div>
                                    <br>
                                </div>
                                <div class="row form-group">
                                    <div class="col-1 text-right">
                                        รหัส/ชื่อ
                                    </div>
                                    <div class="col-5">
                                        <input class="form-control" type="text" value="" id="Search">
                                    </div>
                                    <div class="col-3">
                                        <button type="button" onclick="SearchModalTypeData()" class="btn btn-info"><i
                                                class="fa fa-search"></i>ค้นหา</button>
                                        <button type="button" class="btn btn-outline-danger"
                                            data-dismiss="modal">ปิด</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card-body pt-1">
                    <div class="table-responsive ">
                        <table class="table color-bordered-table info-bordered-table" id="TableEdit">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>#</th>
                                    <th>รหัสพนักงาน</th>
                                    <th>ชื่อสินค้า</th>
                                    <th>หน่วยงาน</th>
                                    <th>สายพาน</th>
                                    <th>เวลาเริ่มต้น</th>
                                    <th>เวลาสิ้นสุด</th>
                                    <th>แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr>
                                    <td></td>
                                    <td>C109398</td>
                                    <td>น.ส. PHAL SENG</td>
                                    <td>5330 : คิริมิ</td>
                                    <td>R1</td>
                                    <td>10:06</td>
                                    <td>12:06</td>
                                    <td>
                                        <button class="btn btn-danger" onclick="Edit()" type="button"
                                            data-toggle="modal">แก้ไข</button>
                                        @* <button type="button" onclick="Edit()" class="btn btn-info">แก้ไข</button> *@

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="edittime" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white">แก้ไขเวลา</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <form method="get" id="frmSearch" action="/Workingtime/Index">
                                <div class="card-body">
                                    <div class="row form-group">
                                        <div class="col-1 text-right">
                                            รหัส/ชื่อพนักงาน
                                        </div>
                                        <div class="col-3 text-left" id="id">
                                            C11000
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-1 text-right">
                                            เวลาเริ่มต้น
                                        </div>

                                        <div class="col-5">
                                            <div class="input-group clockpicker">
                                                <input type="text" class="form-control" id="Stime" >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-1 text-right">
                                            เวลาสิ้นสุด
                                        </div>

                                        <div class="col-5">
                                            <div class="input-group clockpicker " data-placement="bottom"
                                                data-align="top" data-autoclose="true">
                                                <input type="text" class="form-control" id="Etime" >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <center>
                                        <div class="col-12">

                                            <button type="button" onclick="Savetwo()"
                                                class="btn btn-info">บันทึก</button>
                                            <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">ปิด</button>
                                        </div>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    function Edit(id, Stime, Etime) {
        $("#edittime").modal('show');
        $("#id").html(id);
        $("#Stime").val(Stime);
        $("#Etime").val(Etime);
        /// $("#tbDetailUsing > tbody").empty();
    }

    function Edit2(ShopOrder, Product, Unit, Belt, Stime, Etime) {
        $("#edit").modal('show');
        $("#Stime").val(Stime);
        $("#Etime").val(Etime);
        /// $("#tbDetailUsing > tbody").empty();
    }

    function Save() {
        var url = '/Workingtime/Edit';
        $.ajax({
            type: "POST",
            url: url,
            data: { Stime: $("#Stime").val(), Etime: $("#Etime").val() },
            dataType: "json",
            beforeSend: function () { ShowLoading(); },
            success: function (res) {
                if (res.success == true) {
                    PopupMessage("บันทึกข้อมูลเรียบร้อย");
                    $("#btnAddtime").modal('hide');
                }
            },
            complete: function () {
                ShowLoading(false);
            },
            error: function (ex) { }
        });
    }

    function Savetwo() {
        var url = '/Workingtime/Savetwo';
        $.ajax({
            type: "POST",
            url: url,
            data: { Stimes: $("#Stime").val(), Etimes: $("#Etime").val() },
            dataType: "json",
            beforeSend: function () { ShowLoading(); },
            success: function (res) {
                if (res.success == true) {
                    PopupMessage("บันทึกข้อมูลเรียบร้อย");
                    $("#edittime").modal('hide');
                }
            },
            complete: function () {
                ShowLoading(false);
            },
            error: function (ex) { }
        });
    }



    function SearchModalTypeData() {
        var url = URL + '/Workingtime/Search1';
        var data = {
            'Search': $("#Search").val(),
        };
        $("#TableEdit > tbody").empty();
        $.ajax({
            type: "GET",
            url: url,
            data: data,
            dataType: "json",
            beforeSend: function () {
                ShowLoading();
            },
            success: function (data) {
                var newRow = '';
                var chk = '';

                $.each(data, function (index, element) {
                    newRow = '<tr>';
                    newRow += '<td class="text-center">' + " " + '</td>';
                    newRow += '<td class="text-center">' + element.id + '</td>';
                    newRow += '<td>' + element.nameProduct + '</td>';
                    newRow += '<td>' + element.agency + '</td>';
                    newRow += '<td>' + element.belt + '</td>';
                    newRow += '<td>' + element.stime + '</td>';
                    newRow += '<td>' + element.etime + '</td>';
                    newRow += '<td><input type="button"  onclick="Edit(\'' + element.id + '\',\'' + element.stime + '\',\'' + element.etime + '\')" class="btn btn-danger" value="แก้ไข"></td>';

                    newRow += '</tr>';
                    $('#TableEdit > tbody').append(newRow);
                });
            },
            complete: function () {
                ShowLoading(false);
            },
            error: function (err) {
                ShowLoading(false);
            }
        });
    }



</script>